<h1>Editing ec2 instance</h1>

<%= render "form", ec2_instance: @ec2_instance %>

<br>

<div>
  <%= link_to "Show this ec2 instance", @ec2_instance %> |
  <%= link_to "Back to ec2 instances", ec2_instances_path %>
</div>
